.container {
    margin: 40px 10px;
}

.topPanel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.friends {
    display: flex;
    flex-wrap: wrap;
}

.friend {
    max-width: 19%;
    flex: 0 0 19%;
    margin: 6.1px;
    border: 1px solid #e8e8e9;
    background-color: #ffffff;
    border-top: none;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.communityAva {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin-bottom: 30px;
}

.nickname {
    width: 100%;
    height: 100%;
    display: contents;
    color: #3e404a;
    font-size: 18px;
    font-weight: 700;
}

.personInfo {
    display: flex;
    margin: 10px 0px 30px;
    color: #72808e;
}

.age {
    margin-right: 8px;
}

.gender {
    margin-left: 8px;
}

.handler {
    position: relative;
    width: 100%;
}

.follow {
    position: absolute;
    bottom: 80px;
    left: 13.5%;
}

.goPage {
    position: absolute;
    top: 40px;
    left: 13.5%;
}

.goPage, .follow {
    z-index: 20;
}

.handler:hover button,
.handler:hover button,
.handler:hover .overlay{
    opacity: 1;
    transition: opacity .3s;
}

.follow button,
.goPage button {
    color: #ffff;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    padding: 10px 0;
    width: 200px;
    background-color: #3e404b;
    display: flex;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s;
}

.overlay {
    background-color: #3e404b9c;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: opacity .3s;
    width: 100%;
    opacity: 0;
    height: 300px;
    border-radius: 20px 20px 0 0;
}