.formControl {
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid #cf3030;
}

.formControl.error span {
    color: #ffffff;
}

.textError {
    position: absolute;
    top: -50px;
    right: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    background-color: #cf3030a6;
    /* border: 2px solid #cf3030; */
    border-radius: 30px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 800;
}


