.login {
    text-decoration: none;
}

.nickname {
    margin: 0 12px;
    font-size: 17px;
    color: #3e404a;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
}