.background img {
    position: relative;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    z-index: 10;
    top: 220px;
    margin: 0 60px;
    display: flex;
}

.ava img {
    height: 300px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.description {
    color: #ffffff;
    margin-left: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.description span {
    margin-bottom: 7px;
}

.nickname {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px !important;
}

.status {
    max-width: 75%;
}

.statusInput input {
    width: 75vh;
}