.background {
    background-image: url(./../../../../public/images/registration-bgr.jpeg) no-repeat center center fixed;
    /* background-repeat: no-repeat; */
    width: 100vh;
    height: 100vh;
    
}