.background {
    background-image: url(./../../../../public/images/registration-bgr.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vh;
    height: 100vh;
    
}