body {
  background-color: #f9f9f9;
}

.container {
  margin: 80px;
}

.button {
  background-color: #ffffff;
  border: 2px solid #d8d9db;
  border-radius: 30px;
  padding: 10px 16px;
  font-size: 15px;
  color: #3e404a;
  font-weight: 800;
  cursor: pointer;
}
